{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('flexselect/flexselect.css') }}" type="text/css" media="screen"/>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
                    type="text/javascript"></script>

            <script src="{{ asset('flexselect/liquidmetal.js') }}" type="text/javascript"></script>
            <script src="{{ asset('flexselect/jquery.flexselect.js') }}" type="text/javascript"></script>
        {% endblock %}

{% macro renderFormField(field, class) %}
    <div class="form-group {{ class }}">

    </div>
{% endmacro %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
        <div class="row">
            <div class="col-12 col-lg-12 cart">
                <h1>Checkout</h1>
                <div class="p-3">

                    {{ form_start(checkoutForm) }}
                    <div class="form-row">
                        {{ form_row(checkoutForm.endCustomer, {
                            row_attr: { class: 'col mb-3' },
                            attr: { class: 'flexselect'}
                        }) }}

                    </div>

                    <div class="form-row d-flex justify-content-end mt-4">
                        <div>
                            <button type="submit" class="btn btn-success btn-lg me-3" formnovalidate>
                                Bestellung abschicken
                            </button>
                        </div>
                        <div>
                            <a href="{{ path('app_cart') }}" class="btn btn-secondary btn-lg">
                                zurück zum Warenkorb
                            </a>
                        </div>
                    </div>
                    {{ form_end(checkoutForm) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            $("select.flexselect").flexselect();
        });
    </script>
{% endblock %}
