{% extends 'base.html.twig' %}


{% macro renderFormField(field, class) %}
    <div class="form-group {{ class }}">

    </div>
{% endmacro %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
    <div class="row">
        <div class="col-12 col-lg-12 cart" class="p-3"
                {{ stimulus_controller('reload-content', {
                    url: path('_app_checkout_element')
                }) }}
             data-action="add-customer:async:submitted->reload-content#refreshContent">

            <div style="display: flex;justify-content: space-between;">

                <h1>Checkout</h1>
                <form
                        action="{{ path('app_add_new_customer') }}"
                        method="POST"
                        {{ stimulus_controller('add-customer', {
                            title: 'Neukunde',
                            icon: 'question',
                            confirmButtonText: 'Neuanlegen',
                            submitAsync: true,
                            url: path('app_add_new_customer')
                        }) }}
                        data-action="add-customer#onSubmit"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('remove_item') }}"/>

                    <div data-add-customer-target="results">
                        <button class="ym-2 btn btn-success btn-sm">
                            <i class="fa fa-user-plus"></i> Neukunde
                        </button>
                    </div>
                </form>
            </div>

            <div>
                <div
                        data-reload-content-target="content">
                    {{ include('checkout/_checkout.html.twig') }}
                </div>

            </div>

        </div>
    </div>
    </div>
{% endblock %}
